@import "tailwindcss";


@layer base{

    html{
        margin : 0;
        padding: 0;
    }
    body{
        color : white;
        background-color: black;
    }
    h1{
        @apply m-6 sm:m-10 font-bold  text-center sm:text-5xl text-4xl;
    }
    h2{
        @apply text-center font-medium sm:text-4xl text-3xl;
    }
    h4{
        @apply md:me-95 sm:me-70 me-44;
    }
    input{
        @apply border-1 rounded-md px-2 py-0.5 md:w-100 sm:w-75 w-50;
    }
    form{
        @apply flex flex-col items-center gap-2;
    }
    button{
        @apply border-1 rounded-md px-2 py-0.5 mt-1 md:me-83 sm:me-58 me-34;
    }
    p{
        @apply sm:text-2xl text-xl;
    }

}
@layer components{
    .error{
        @apply text-red-700 font-semibold text-center mt-10;
    }
    .maincard{
        @apply flex flex-col text-center items-center ps-10 sm:ps-20 pe-12 mt-10 sm:mt-5 relative;
    }
    .data{
        @apply flex flex-col absolute sm:top-20 top-15 md:text-start  gap-5 text-center;
    }
}